@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

@font-face {
    font-family: 'DIN';
    src: url("DIN.woff2");
}
:root {
	--background: white;
	--text: white;
    --green: #2b663c;
    --light-green: #317745;
}
body {
    margin:0;
    padding:0;
    /*background-color: var(--background);*/
}
html {
    margin:0;
}


#background {
    position: fixed;
    margin-top: -10%;
    width: 100vw;
    height: 120vh;
    background-image: url("imgs/Chalk3.jpeg");  
    background-size: cover;
    filter:brightness(0.7);
    transition: filter 1s;
}

#splash {
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: opacity 0.5s;
    opacity: 0;
    gap:00px;
}

.option {
    transition: opacity 0.5s, scale 0.5s;
    font-size: 30px;
    color: white;

    text-align: center;
    font-family: DIN, arial;
    scale: 1;
}
.option:hover {
    opacity: 0.5 !important;
    scale: 1.05;
}
.option img {
    border: solid 2px black;
    padding: 20px;
    border-radius: 300px;
    filter: invert();
}

.option img{
    max-width: 30vw;
    max-height: 30vh;
}

#personal {
    display: none;
    opacity: 0;
    transition: opacity 2s, left 0.5s;
    width: 80vw;
    left: -100vw;
    translate: transform(-50%);
    display: flex;
    flex-direction: row;

    font-family: 'Fira Sans', arial;
    font-size: 30px;
    color: var(--text);
    
    position: relative;
    /*background-color: var(--background);*/
    padding-top: 50px;
}
.subsub {
    width: 40vw;
    font-size: 20px;
    text-align: justify;
}

form {
    display: inline;
    margin-bottom: 40px;
}
label {
    padding: 10px;
    width: 100%;
    background-color: #020202a2;
    border-radius: 20px;
    
}
textarea {
    width: calc(100% - 18px);
    font-family: 'Fira Sans', arial;
}
input, textarea {
    padding: 15px;
    border: 1px solid #1c87c9;
    outline: none;
}
#submit_email {
    width: calc(100% - 50px);
    padding: 8px;
    border: 1px solid #1c87c9;
    outline: none;
    opacity: 1;
    transition: opacity .5s;
}
#submit_email:hover{
    opacity: 0.8;
}

#school {
    display: none;
    left: -100vw;
    opacity: 0;
    transition: opacity 0.5s, left 0.5s;
}


.subdivider_p {
    font-family: "Cabin Sketch", arial;
    font-size: 80px;
    text-align: left;
}
.small {
    margin: 30px;
}
.button:hover {
    opacity: 0.7;
}
h2 {
    text-align: left;
}
.details {
    font-size: 15px;
    text-align: left !important;
}
#school_flip {
    display: none;
}

@media only screen and (max-width: 900px) { 
    #splash {
        flex-direction: column;
        margin-top: 10vh;
        gap: 50px;
    }
    .details {
        font-size: 13px;
    }
    #personal {
        display: none;
        left: 5vw !important;
        flex-direction: column;
    }
    #personal div {
        width: 80vw;
    }
    .subdivider_p {
        font-size: 50px;
        margin: 0; 
        padding-left: -10vw;
    }
    .subsub {
        font-size: 18px;
    }

}
    
    